#: {$ comment %}


{% extends 'base.html' %}

{% block content %}
<h2>About page</h2>
<p>This is a template</p>

<h3>{{ title|center:'15' }},</h3>  {#}html nie wycentruje tego{#}

<h3>{{ title|capfirst|upper }},</h3>

{{ my_html|safe }}  {#}tekst z views zamienia na działający skrypt html{#}

{{ my_html|striptags }}  {#}(striptags - robi coś odwrotnego){#}

<p>{{ number }}, {{ my_list }}</p>

<ul>
    <li>Item 1</li>
    <li>my blis</li>
</ul>

<ul>
{% for item in my_list %}
    {% if item == 2 %}
        <li>{{ forloop.counter }} - {{ iter_if }}</li>
    {% endif %}
        <li>{{ forloop.counter }} - {{ item }}</li>
{% endfor %}
</ul>

{% endblock content %}